<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to List Note !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset ('css/bootstrap.css') }}">
    </head>

    <body>
        <div class="container">
            <h1>Liste des notes</h1>
            <nav class="navbar navbar-default" role="navigation">
                <div class="nav navbar navbar-expand-lg navbar-light bg-light navbar-left">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="nav-item">
                            <a class="nav-link" href="./note">Ajouter une note</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./categorie">Ajouter une catégorie</a>
                        </li>     
                    </ul>
                </div>
                {{ form_start(search) }}
                    <div class="form-group" id="contenu"> {{ form_row(search.tag, {'attr':{'class':'form-control'}}) }}</div>
                {{ form_end(search) }} 
=           </nav>
              
            <br>

            {% for formulaire in listNote %}
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1"> {{ formulaire.titre }} </h5>
                        <small> {{ formulaire.categorie.libelle }} - {{ formulaire.date|date('d/m/Y') }} </small>                                   
                        <p class="mb-1"> {{ formulaire.contenu }} </p>
                        <a href=updateNote?id_={{ formulaire.id }}> Update </a> 
                        <a href=deleteNote?id_={{ formulaire.id }}> Delete </a> 
                    </div>
                    <br>
                </div>
            {% endfor %}

        <div>      
    </body>




</html> 